body{
    background-image: url(img/100x100.gif) ;
    color: rgb(0, 47, 225);  
} 

h1{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0)
}

div{
    position: absolute;
    top: 200px;
    left: 400px;

    background-color: yellow;
    color: rgb(38, 71, 255);
    width: 	400px;
    height: 200px;
    padding: 0px;
    border: rgb(255, 0, 0) 5px solid;
    margin: 20px; 
    opacity: 0.9;
}